@import "./base.css";

#app {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}

/* 默认样式 */
body {
  font-size: 1rem;
}

/* 大屏幕设备 */
@media (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }
}

/* 超小屏幕设备 */
@media (max-width: 480px) {
  body {
    font-size: 0.875rem;
  }
}
